
# Archivos de datos
defunciones.csv
defunciones_clean.csv
simple_causes.csv

# Entorno virtual
venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de Jupyter Notebook
.ipynb_checkpoints

# Archivos de configuración de editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp

# Entornos Jupyter
.env
.env.*
*.env

# Salidas comunes de notebooks
*.out